name: RDP-Ubuntu

on:
  workflow_dispatch:
    inputs:
      rdp_username:
        description: "Enter RDP Username"
        required: true
        type: string
      rdp_password:
        description: "Enter RDP Password"
        required: true
        type: string
      tailscale_authkey:
        description: "Enter Tailscale Auth Key"
        required: true
        type: string

jobs:
  ubuntu-rdp:
    runs-on: ubuntu-latest
    timeout-minutes: 3600

    steps:
      - name: Update System
        run: |
          sudo apt update -y

      - name: Create RDP User
        run: |
          USERNAME="${{ github.event.inputs.rdp_username }}"
          PASSWORD="${{ github.event.inputs.rdp_password }}"

          sudo useradd -m -s /bin/bash $USERNAME
          echo "$USERNAME:$PASSWORD" | sudo chpasswd
          sudo usermod -aG sudo $USERNAME

          echo "RDP_USER=$USERNAME" >> $GITHUB_ENV
          echo "RDP_PASS=$PASSWORD" >> $GITHUB_ENV

      - name: Install Desktop + XRDP
        run: |
          sudo apt install -y xfce4 xfce4-goodies xrdp
          sudo systemctl enable xrdp
          sudo systemctl restart xrdp

          sudo adduser xrdp ssl-cert
          echo xfce4-session > ~/.xsession

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect Tailscale
        run: |
          sudo tailscale up \
              --authkey="${{ github.event.inputs.tailscale_authkey }}" \
              --hostname="ubuntu-runner-${GITHUB_RUN_ID}"

          TS_IP=$(tailscale ip -4)
          echo "TAILSCALE_IP=$TS_IP" >> $GITHUB_ENV

      - name: Verify RDP Port
        run: |
          if ss -tln | grep -q ':3389'; then
            echo "RDP running successfully"
          else
            echo "RDP NOT running!"
            exit 1
          fi

      - name: Show RDP Details
        run: |
          echo ""
          echo "===== UBUNTU RDP ACCESS ====="
          echo "Tailscale IP : $TAILSCALE_IP"
          echo "Username     : $RDP_USER"
          echo "Password     : $RDP_PASS"
          echo "================================"
          echo ""

      - name: Keep Alive
        run: |
          while true; do
            echo "[KEEP-ALIVE] $(date)"
            sleep 300
          done
